body {
  margin: 0;
  font-family: sans-serif;
}

.inquiry-section {
  display: flex;
  width: 100vw;
  height: 300px;
    background-image: url('../images/Background2.webp');
/* background-color: blueviolet; */
  background-size: cover;
  background-position: center;
  padding: 25px;
  box-sizing: border-box;
  color: black;
  position: relative;
  margin-bottom: 30px;
  
}

/* .left-content {
   flex: 1;
  padding-right: 40px; 
   
}

.left-content h2 {
  font-size: 24px;
    margin: 0 0 10px;

}

.left-content p {
  font-size: 14px;
  max-width: 400px;
  color: #e5e5e5;
;
} */
 .text-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-group h2 {
  margin: 0 0 12px 0;
  font-size: 24px;
  line-height: 1.4;
  color: black;
}

.text-group p {
  margin: 0;
  font-size: 14px;
  color: black;
  max-width: 400px;
}


.form-card {
  width: 750px;
  height: 270px;
  background: white;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  color: #333;
}

.form-card h4 {
  margin: 0 0 15px;
  font-size: 16px;
}

.form-card input,
.form-card textarea,
.form-card select {
  width: 100%;
  padding: 8px 10px;
   margin-bottom: 10px; 
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-row input {
  flex: 2;
}

.form-row select {
  flex: 1;
}

.form-card button {
  width: 20%;
  padding: 6px;
  background: #1a75f9;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
