.container {
    display: flex;
    /* min-height: 100vh; */
    margin-top: 120px;
    
}

/* Left Sidebar */
.sidebar {
    width: 256px;
    height: fit-content;
    /* background-color: white; */
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border-right: 1px solid #e5e7eb;
}

.sidebar-content {
    padding: 28px;
}

.category {
    color: #6b7280;
    font-size: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: color 0.2s;
}

.category:hover {
  background-color: #f0f0f0;
}

.category.active {
  background-color: #e6f0ff;
  color: #1a73e8;
  font-weight: bold;
}
.category.more-category {
    color: #2563eb;
    font-weight: 500;
}